@import url('https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.app {
  height: 100vh;
}

.main-container {
  background: #000;
  height: calc(100% - 56px);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.signin-btn {
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.signout-btn {
  border: 1px solid #646464;
  border-radius: 5px;
}

/* Menu */
.menu-container {
  background: #212224;
  color: #e2e2e2;
  height: calc(100vh - 76px);
  width: 20vw;
  border: solid 0.5px #646464;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

h2 {
  font-weight: 300;
}

.menu-container .menu-buttons button {
  background-color: #3b3b3b;
  color: #e2e2e2;
  border: solid 0.5px #b4b4b4;
  border-radius: 5px;
  padding: 5px;
}

.form {
  color: green;
}

/* Map */
.map-container {
  background: #212224;
  color: #e2e2e2;
  height: 100%;
  width: 80vw;
  border: solid 0.5px #646464;
  border-radius: 5px;
  margin-left: 10px;
}

.map {
  width: calc(80vw);
  height: calc(100vh - 76px);
  overflow: hidden;
  border-radius: 5px;
}

.ol-layer {
  z-index: 999999999999999999;
  visibility: visible;
}

.ol-attribution {
  visibility: hidden;
}

/* Class Input */
.dropdown {
  margin: 10px 0;
}

.menu-buttons {
  justify-content: space-between;
  align-items: center;
}

.form-button {
  width: 30%;
}

/* Login */
.login-container-wrapper {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  background: #212224;
  color: #e2e2e2;
}

.login-container {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 40vw;
  border: solid 0.5px #b4b4b4;
  border-radius: 5px;
  padding: 10px;
}

.submit-container {
  justify-content: center;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background: #e2e2e2;
  color: #000;
}
